.memo {
  height: 15rem;
  width: 15rem;
  background-color: sandybrown;
  padding: .5rem;
  margin: 0.5rem;

}

.memo-nav {
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
}

.memo-text {
  padding: 1rem;
}
